.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: rgba(22, 13, 81, 0.7);
  width: 350px;
  height: 250px;
  margin: 10px;
  border-radius: 7px;
  text-align: center;
  padding: 10px;
  overflow-y: auto;
}

.projectPic {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
}

.list {
  display: flex;
  flex-direction: row;
}

.description {
  display: block;
}
