.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: rgba(22, 13, 81, 0.7);
  width: 400px;
  height: 250px;
  margin: 10px;
  border-radius: 7px;
  text-align: center;
  padding: 10px;
  -webkit-transition: background 0.5s; /* For Safari 3.1 to 6.0 */
  transition: background 0.5s;
}

.card:hover {
  background: rgba(22, 13, 81, 0.5);
}

.projectPic {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
}

.list {
  display: flex;
  flex-direction: row;
}

.description {
  display: block;
}
