.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resumePic {
  /* max-height: 600px; */
  height: 80vh;
  width: auto;
  border: 1px solid #284b63;
}

.resumeLink {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
