.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-part {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.siteLink {
  padding: 10px;
}

.homeName {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

h3 {
  color: white !important;
}

h1 {
  color: white !important;
}
