body,
html {
  height: 100%;
  margin: auto;
  background: url("../assets/img/california.jpg");
  background-attachment: scroll;
  background-size: 100%;
  overflow-y: scroll;
}

@media only screen and (max-width: 1551px) {
  body,
  html {
    background: linear-gradient(#002c49, #3a7496);
  }
}
