.app-background {
  background: url("../assets/img/california.jpg");
  height: 100vh;
  width: 100vw;
  color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  /* object-fit: fill; */
  /* background-repeat: repeat-x; */
  /* background-attachment: scroll; */
}

/* .scroll {
  overflow-y: auto;
} */
