.modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
}

.modal-body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px;
  max-height: 600px;
}

.modal-Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

p {
  font-size: 20px;
}

@media only screen and (max-width: 1000px) {
  .project-image {
    width: 250px;
    height: 250px;
  }

  p {
    font-size: 17px;
  }
}

@media only screen and (max-width: 500px) {
  .project-image {
    width: 100px;
    height: 100px;
  }

  p {
    font-size: 13px;
  }
}
