/* .ui.modal {
  background: green;
} */

.modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .modal-setting {
  display: block;
} */

.project-image {
  /* max-height: 60vh; */
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 50px;
  border-radius: 10px;
}

.modal-body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px;

  max-height: 600px;
}

.modal-Content {
  display: flex;
  flex-direction: column;
}
