.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  -webkit-animation: loading 1.25s infinite; /* Safari 4.0 - 8.0 */
  animation: loading 1.25s infinite;
}

@keyframes loading {
  0% {
    color: #32c02e;
  }
  25% {
    color: #ffb500;
  }
  50% {
    color: #ff7a00;
  }
  75% {
    color: #f41f35;
  }
  100% {
    color: #009ee0;
  }
}
/*
@keyframes rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
  75% {
    transform: perspective(120px) rotateX(0deg) rotateY(-180deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(-180deg);
  }
  100% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(-0deg);
  }
} */
