.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  -webkit-animation: loading 1.25s infinite; /* Safari 4.0 - 8.0 */
  animation: loading 1.25s infinite;
}

@keyframes loading {
  0% {
    color: #ff7a00;
  }
  25% {
    color: #e82a1d;
  }
  50% {
    color: #ff7a00;
  }
  75% {
    color: #ffb500;
  }
  100% {
    color: #32c02e;
  }
}
